/*
 * All CSS
 *
 * Created: 11/1/2013
 *
 * Selectors:
 *	'#' is for id's
 *	'.' is for classes
 *	     if it doesn't have either a . or #, then it is probably an HTML element (example: div or table)
 */
 @import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);
 @import url(http://fonts.googleapis.com/css?family=Arimo);

 body {
 	width: 100%;
 	font-family: 'Arimo', sans-serif;
 	background-color: #F6F6F7;
 }

header {
	background-color: #5BA0D0;
}

section#partialWrapper {
	padding: 10px;
}

.splashGradient {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2IoMTMwLCAyMTksIDI1MikiLz48c3RvcCBvZmZzZXQ9IjAuOTYiIHN0b3AtY29sb3I9IiM1QkEwRDAiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0iIzVCQTBEMCIgLz48cmVjdCB4PSItMjAuNzEwNyUiIHk9Ii0yMC43MTA3JSIgd2lkdGg9IjE0MS40MjE0JSIgaGVpZ2h0PSIxNDEuNDIxNCUiIGZpbGw9InVybCgjZykiIC8+PC9zdmc+);
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 104, color-stop(0%, rgb(130, 219, 252)), color-stop(96%, #5BA0D0));
	background-image: -webkit-radial-gradient(center center, closest-corner, rgb(130, 219, 252) 0%, #5BA0D0 96%);
	background-image: -moz-radial-gradient(center center, closest-corner, rgb(130, 219, 252) 0%, #5BA0D0 96%);
	background-image: -ms-radial-gradient(center center, closest-corner, rgb(130, 219, 252) 0%, #5BA0D0 96%);
	background-image: -o-radial-gradient(center center, closest-corner, rgb(130, 219, 252) 0%, #5BA0D0 96%);
	background-image: radial-gradient(closest-corner at center center, rgb(130, 219, 252) 0%, #5BA0D0 96%);

}

#logo {
	font-family: 'Cinzel Decorative', cursive;
	float: left;
	color: #82DBFC;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
}

#logo #tagline {
	font-family: 'Arimo', sans-serif;
	font-size: .3em;
	margin: -5px 0 0 30%;
	font-weight: normal;
	color: aliceblue;
}

nav ul#navItems {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navItems li {
	padding: 0.5em;
	font-size: 1.8em;
	text-align: center;
	opacity: 0.8;
	color: #fff;
}

#navItems li:hover {
	opacity: 1;
	cursor: pointer;
	transition: opacity 1s ease;
}

#navItems li.active {
	background-color: #F6F6F7;
	opacity: 1;
	color: #82DBFC;
	transition: background-color .5s ease;
}

#navItems li a {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#mapContainer {
	margin: 10px;
	min-height: 250px;
	border: 1px solid lightgray;
	background-color: #fff;
}

table#mapDetailTable {
	border-spacing: 2px;
	border-color: gray;
	width: 85%;
}

#mapDetailTable td, th {
  /*border: 1px solid #999;*/
  padding: 0.5rem;
  text-align: left;
}

#mapDetailTable th {
  font-size: 1.4em;
}

table#mapDetailTable tr td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

#mapDetailTable td:first-child {
	color: gray;
}

#mapDetailTable tr:nth-child(even) {
	/*background: #bebec5;*/
}

#mapDetailTable tbody tr:hover > td{
	background-color: #fff;
	/*background-color: #f5f5f5;*/
}

.centerElem {
	margin: auto;
}

 /*
  * class to clear floats
  */
.clear {
	clear: both;
}
 /*
  * Add some spaces
  */
  .space5 {
  	margin-top: 5px;
  }
  .space10 {
  	margin-top: 10px;
  }
  .space20 {
  	margin-top: 20px;
  }
  .space30 {
  	margin-top: 30px;
  }
  #centerBlock {
      float: left;
    position: relative;
    left: 30%;
  }

