<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Authentication Page</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div style="background-color:#88E7D3">
            <p style="font-size:72px;text-align:center">Welcome to <span style="font-weight:bold">Pitch In!</span></p>
            <p style="text-align:center;font-size:32px">Please sign in!!</p>
            <p style="font-size:24px;font-weight:bold;text-align:center">Username: <input type=text></p>
            <p style="font-size:24px;font-weight:bold;text-align:center">Password: <input type=text></p>
            <p style='text-align:center;'><button type="button">Submit</button></p>
            <p></p>
            <p style='text-align:center'>Don't have an account? <a href="www.google.com">Sign Up</a> Now!</p>
        </div>
    </body>
</html>
