<div>
	<h2>Check out all of the service going on around you</h2>
	<div id="mapContainer">

	</div>
	<button onclick="initialize()"> make map</button>
	<hr>
	<table class="centerElem" id="mapDetailTable">
		<thead>
			<th>&nbsp;</th>
			<th>Details</th>
		</thead>
		<tbody>
			<tr>
				<td>Type: </td>
				<td> Service</td>
			</tr>
			<tr>
				<td>Date: </td>
				<td> Dec 11, 2013</td>
			</tr>
			<tr>
				<td>Location: </td>
				<td> 1.5 miles from you. <a href="">Get the address.</a></td>
			</tr>
			<tr>
				<td>Activity: </td>
				<td> Habitat for Humanity will be framing a house in the frigid cold. We won't have to stay out in the cold & get frostbite if you come lend a hand!</td>
			</tr>
		</tbody>
	</table>
</div>