<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Create a New EVENT</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div style="background-color:gray"><p style="font-size:36px;font-weight:bold;">Enter the information for your event:</p>
            <p>Date: <input type="date"></p>
            <p>Time: <input type="time"></p>
            <p>Location: <input type="text"></p>
            <p>Description: <input type="text"></p>
        
        </div>
    </body>
</html>
